<div ng-controller="EnqueteListagem"> 
    <div ng-repeat="enquete in lista" class="md-whiteframe-z1" style="width: 31%; float: left; margin: 1%; padding: 5px;" ng-style="{'background': '#009688'}">
        <center>
        <h2>{{enquete.vhr_nome}}</h2>
        <h5>{{enquete.vhr_descricao}}</h5>
        <h4><md-button class='md-raised md-primary' ng-click='responder(enquete.int_idaenquete)'>Responder esta enquete</md-button></h4>
        <h5>
            <md-button class='md-raised' ng-click='editar(enquete.int_idaenquete)'>Editar</md-button>
            <md-button class='md-raised md-warn' ng-click='remover(enquete.int_idaenquete)'>Remover</md-button>
        </h5>
        </center>
    </div> 
    
    <div ng-show="!lista" class="md-whiteframe-z1" style="width: 30%; margin: 20px auto 0; padding: 5px;">
        <center>Nenhuma enquete encontrada!</center>
    </div>
</div>